{% extends "layout.html" %}

{% block content %}
<h1>test content for forms</h1>
<form class="bg-blue-500  shadow-lg  ring-1 ring-black ring-opacity-5 justify-center w-full rounded-md border border-gray-300  px-4 py-2 text-sm font-medium text-gray-700" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Search Store</button>
</form>

{% if stores %}
<h2>Stores available</h2>
<ul>
    {% for store in stores  %}
    <li>{{store.name}}</li>
    <li>{{store.location}}</li>
    {%  endfor  %}
</ul>
{% endif %}
{% endblock %}